*{
  padding: 0;
  margin: 0;
}

.top-nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

input[type="text"]{
  text-align: center;
  padding: 10px;
}


.row{
  margin-top: 10vh;
  display: flex;
  text-align: center;
  padding: 15px;
  margin: 20px;
  height: 40vh;
}

.col{
  flex: 1;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;  
}

.col h2{
  margin-top: 5vh;
}

button{
  padding: 10px;
  margin: 5px;
}

button:hover{
  background-color: green;
}